<configuration>

    <!-- Console Appender -->
    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Base log file -->
            <file>journalApp.log</file>

            <!-- File name pattern with timestamp and index -->
            <fileNamePattern>journalApp-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>

            <!-- Max size of each log file -->
            <maxFileSize>10MB</maxFileSize>

            <!-- Keep logs for 10 days -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>
